In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('product-cat-dataset.csv')

In [3]:
df.describe

<bound method NDFrame.describe of                                              Description   Level_1 Level_2  \
0      gerb cap help keep littl on head cov warm day ...  09BF5150   C7E19
1      newborn inf toddl boy hoody jacket oshkosh b g...  2CEC27F1   ADAD6
2      tut ballet anym leap foxy fash ruffl tul toddl...  09BF5150   C7E19
3      newborn inf toddl boy hoody jacket oshkosh b g...  2CEC27F1   ADAD6
4      easy keep feel warm cozy inf toddl girl hoody ...  2CEC27F1   ADAD6
...                                                  ...       ...     ...
10644  term 10 issu on year subscriptionyo sav 75 cov...  90A8B052   C719A
10645  term 12 issu on year subscriptionyo sav 86 cov...  90A8B052   C719A
10646  term 9 issu on year subscriptionyo sav 64 cov ...  90A8B052   C719A
10647  term 26 issu on year subscriptionyo sav 54 cov...  90A8B052   C719A
10648  term 12 issu on year subscriptionyo sav 60 cov...  90A8B052   C719A

      Level_3
0        D06E
1        98CF
2        D06E
3        98CF
4        98CF
...       ...
10644    A0E2
10645    A0E2
10646    A0E2
10647    A0E2
10648    A0E2

[10649 rows x 4 columns]>

In [5]:
df

,Description,Level_1,Level_2,Level_3
0,gerb cap help keep littl on head cov warm day ...,09BF5150,C7E19,D06E
1,newborn inf toddl boy hoody jacket oshkosh b g...,2CEC27F1,ADAD6,98CF
2,tut ballet anym leap foxy fash ruffl tul toddl...,09BF5150,C7E19,D06E
3,newborn inf toddl boy hoody jacket oshkosh b g...,2CEC27F1,ADAD6,98CF
4,easy keep feel warm cozy inf toddl girl hoody ...,2CEC27F1,ADAD6,98CF
...,...,...,...,...
10644,term 10 issu on year subscriptionyo sav 75 cov...,90A8B052,C719A,A0E2
10645,term 12 issu on year subscriptionyo sav 86 cov...,90A8B052,C719A,A0E2
10646,term 9 issu on year subscriptionyo sav 64 cov ...,90A8B052,C719A,A0E2
10647,term 26 issu on year subscriptionyo sav 54 cov...,90A8B052,C719A,A0E2
10648,term 12 issu on year subscriptionyo sav 60 cov...,90A8B052,C719A,A0E2